@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100vh;
    width: 100vh;
}

body {
    font-family: roboto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;

}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px 100px 50px;
}

.header-logo {
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    width: fit-content;
}

.right-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding-right: 100px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

a:link a:visited {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-left: 100px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.top-signup {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 80px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    align-items: center;
    background-color: grey;
    width: 350px;
    color: #e5e7eb;
}