@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: roboto;
    margin: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}
/*Here starts the header styles!*/
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
    padding-bottom: 100px;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 50px 100px 50px;
}

.header-logo {
    justify-content: flex-start;
    padding-left: 50px;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    width: fit-content;
}

.right-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding-right: 70px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

a:link a:visited {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: row;
    width: 800px;
    padding-left: 100px;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.top-signup {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 80px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
    background-color: grey;
    width: 350px;
    color: #e5e7eb;
}

/*Here starts the main body styles!*/

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.blue-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

.blue-border {
    border-style: groove;
    border-color: #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

/*Under this line starts the indpiring quote style!*/

.subtext {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style-type: none;
    padding-bottom: 100px;
}

.text {
    font-size: 15px;
    width: 150px;
}

.grey-inspiring {
    display: flex;
    flex-direction: column;
    background-color: #E5E7eb;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.quote {
    display: flex;
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    width: 500px;
}

.creator {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*Under this line starts the bottom body style!*/

.bottom-body {
    display: flex;
    height: 250px;
    justify-content: center;
}

.text-container {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    width: 700px;
    max-height: 150px;
}

.text-bottom {
    display: flex;
    flex-direction: column;
    color: #E5E7eb;
}

#Call {
    color: #F9FAF8;
    font-size: 25px;
}

.bottom-signup {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 70px;
    height: 35px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    font-weight: bold;
}

/*Under this line starts the footer styles!*/

.footer {
    display: flex;
    background-color: #1F2937;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #E5E7eb;
}